In [1]:
# Introduction to Python Humphry
1

1

In [2]:
1.0

1.0

In [3]:
1+4

5

In [4]:
1*5+6-2

9

In [5]:
4**2

16

In [6]:
7%4

3

In [7]:
x=4

In [8]:
x

4

In [9]:
x=x+x

In [10]:
x

8

In [11]:
y=4

In [12]:
y+x

12

In [13]:
1/2

0.5

In [14]:
# Strings

In [15]:
'hello world'

'hello world'

In [16]:
"hellow world"

'hellow world'

In [17]:
print("hello world")

hello world

In [18]:
print('hello world')

hello world

In [19]:
name='Humphry'
age=22
'My name is {} while my age is {}'.format(name,age)

'My name is Humphry while my age is 22'

In [20]:
'My name is {one} while my age is {two} and my frinds age is also {two}'.format(one=name,two=age)

'My name is Humphry while my age is 22 and my frinds age is also 22'

In [21]:
'I can't ' go '

SyntaxError: invalid syntax (<ipython-input-21-187765968988>, line 1)

In [22]:
"I can't go anywhre"

"I can't go anywhre"

In [23]:
print('My name is {one} while my age is {two} and my frinds age is also {two}'.format(one=name,two=age))

My name is Humphry while my age is 22 and my frinds age is also 22

In [24]:
mystring="Cleophas"
mystring[2]

'e'

In [25]:
mystruing[1:5]

NameError: name 'mystruing' is not defined

In [26]:
mystring[1:4]

'leo'

In [27]:
mystring[2:]

'eophas'

In [28]:
mystring[:7]

'Cleopha'

In [29]:
mystring.append('S')
mystring

AttributeError: 'str' object has no attribute 'append'

In [30]:
mystring[-1]

's'

In [31]:
[4,8,9,47]

[4, 8, 9, 47]

In [32]:
[6,45,68,[41,87,9],4]

[6, 45, 68, [41, 87, 9], 4]

In [34]:
my_list=[45,87,85,69,[52,6,89,[54,89]]]
my_list[4][3][1]

89

In [35]:
my_list.append(4)
my_list

[45, 87, 85, 69, [52, 6, 89, [54, 89]], 4]

In [36]:
my_list[4][3].append(7)
my_list

[45, 87, 85, 69, [52, 6, 89, [54, 89, 7]], 4]

In [42]:
# Dictionaries
dictionary={'key1':'Shilavika','key2':19}
dictionary

{'key1': 'Shilavika', 'key2': 19}

NameError: name 'dictionary' is not defined

In [43]:
dictionary['key1']

'Shilavika'

In [44]:
dictionary['key2']

19

In [45]:
nary={'key':[45,63,47]}
nary['key'][1]

63

In [47]:
nary2={'key':{"innerkey":[45,25,65]}}
nary2['key']['innerkey'][1]

25

In [1]:
#With tuples ,you cannot change the values after first assignment , they are immutable 
#Lists are mutable
#Sets reffers to unique elements
{1,1,4,5}

{1, 4, 5}

In [2]:
set([1,2,2,2,4,5,8,8])

{1, 2, 4, 5, 8}

In [4]:
myset=set([4,8,8,9,5])
myset

{4, 5, 8, 9}

In [5]:
myset.add(7)
myset

{4, 5, 7, 8, 9}

In [6]:
True

True

In [7]:
False

False

In [8]:
4<7

True

In [9]:
5>9

False

In [10]:
4>=1

True

In [11]:
4<=2

False

In [12]:
1==1

True

In [13]:
1!=8

True

In [14]:
(4<7) and (5>1)

True

In [15]:
(8<7) and (5>1)

False

In [16]:
(6<7) or (4<1)

True

In [20]:
if 1==4:
    print("Condition satsfied")
elif 4==7:
    print("Condition two worked")
else:
    print("No condition satsfied")

No condition satsfied

In [ ]:
numbers=[1,2,4,7,8,9]
for number in numbers:
    print('The number is {}'.format(number))

In [1]:
i=1
while i<4:
    print(i)
    i=i+1

1
2
3

In [2]:
range(4,17)

range(4, 17)

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
mylistrange=list(range(2,14))
mylistrange

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [5]:
squarelist=[]
for num in mylistrange:
    squarelist.append(num**2)
squarelist

[4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]

In [8]:
[num**2 for num in squarelist]

[16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000, 14641, 20736, 28561]

In [13]:
#functions
def func_1(name="Shikunzi"):
    print('My name is {}'.format(name))
func_1()

My name is Shikunzi

In [14]:
#functions
def func_2(name="Shikunzi"):
    #This function writes myname
  
    print('My name is {}'.format(name))
func_2('Humphry')

My name is Humphry

In [15]:
print('My name is '+'Humphry Shikunzi')

My name is Humphry Shikunzi

In [16]:
def add_two_numbers(number1,number2):
      """
    This function adds two numbers and returns the result
      """
    return number1+number2
result=add_two_numbers(45,40)
result

85

In [17]:
def multiply_by_2(num):
    return num*2
result8=multiply_by_2(4)
result8

8

In [19]:
list8=[4,5,8,18]
map(multiply_by_2,list8)

In [20]:
[map(multiply_by_2,list8)]

In [21]:
list(map(multiply_by_2,list8))

[8, 10, 16, 36]

In [23]:
mylambda=lambda variable:variable**2
mylambda(8)

64

In [24]:
list(map(lambda squares:squares**2,list8 ))

[16, 25, 64, 324]

In [25]:
list(filter(lambda num :num%2==0,list8))

[4, 8, 18]

In [29]:
stringme="This string is , about methods in python"
stringme.lower()

'this string is , about methods in python'

In [30]:
stringme.upper()

'THIS STRING IS , ABOUT METHODS IN PYTHON'

In [31]:
stringme.capitalize()

'This string is , about methods in python'

In [32]:
stringme.split()

['This', 'string', 'is', ',', 'about', 'methods', 'in', 'python']

In [34]:
stringme.split(',')[1]

' about methods in python'

In [35]:
mycatch=stringme.split(',')[1]
mycatch

' about methods in python'

In [38]:
d={'key1':'Shiks','key2':'42'}
d

{'key1': 'Shiks', 'key2': '42'}

In [39]:
d.items

In [40]:
d.keys

In [41]:
d.items(
)

dict_items([('key1', 'Shiks'), ('key2', '42')])

In [42]:
d.keys()

dict_keys(['key1', 'key2'])

In [43]:
d.values()

dict_values(['Shiks', '42'])

In [44]:
lst=[4,6,9,1]
lst.pop()

1

In [45]:
lst

[4, 6, 9]

In [46]:
itemtopop=lst.pop(0)

In [47]:
itemtopop

4

In [48]:
lst

[6, 9]

In [49]:
lst.append(7)

In [50]:
lst

[6, 9, 7]

In [52]:
lst.append(7)

In [54]:
"m" in [1,2,3,4]

False

In [55]:
4 in [4,8,7]

True

In [56]:
tuple2list=[(4,8,6),(3,9,74),(8,9,23)]
tuple2list

[(4, 8, 6), (3, 9, 74), (8, 9, 23)]

In [57]:
tuple2list[1]

(3, 9, 74)

In [58]:
tuple2list[1][1]

9

In [59]:
for x in tuple2list:
    print(x)

(4, 8, 6)
(3, 9, 74)
(8, 9, 23)

In [65]:
for a,b,c in tuple2list:
    print(b)
    print(a)
    print(c)

8
4
6
9
3
74
9
8
23

In [67]:
def Checkemail(email):
    return email.split('@')[1]
Checkemail('humphryshikunzi9@gmail.com')

'gmail.com'

In [68]:
def containsdogword(str):
    return 'dog' in str.lower().split()
containsdogword('This is a dog')

True

In [72]:
def countsfordog(str):
    count=0;
    for word in str.lower().split():
        if word =='dog':
            count+=1
    return count 
count=countsfordog('This dog in mine while the other dog is my neighbours dog')
count

3

In [74]:
mmlist=['Soup','Dog','Special','Cat','Socks']
list(filter(lambda str :str[0]=='S',mmlist))

['Soup', 'Special', 'Socks']